<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/article2.css">
    <title>Архив статей</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
    Привет {{user.get_username}}
    <a class="link" href="http://127.0.0.1:8000/article/new/">Создать статью</a>
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" value="Выйти">
        logout
      </button>
    </form>
    {% else %}
    <a class="link" href="http://127.0.0.1:8000/authorization/">Авторизация</a>
    <a class="link" href="http://127.0.0.1:8000/registration/">Регистрация</a>
    {% endif %}
    <div class="header">
        <img src="{{ STATIC_URL }}/static/img/logo.png" alt="My image"/>
    </div>
    <div class="archive">
        {% for post in posts %}
            <div class="one-post">
                <h2 class="post-title">
                    <a href="http://127.0.0.1:8000/article/{{post.id}}">{{ post.title }}</a>
                </h2>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created-date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
        {% endfor %}     
    </div>
  </body>
</html>
